<!DOCTYPE html>
<html>
<head>
	<title>Home | textutils</title>
</head>
<body>

	<h1>welcome to text analyzer.Enter your text below.</h1>
	<form action="/analyze" method="get">
		<textarea name="text" name="" id="" cols="180" rows="10"></textarea>
		<br>
		<input type="checkbox" name="removepunc"> Remove Punctuation <br>
		<input type="checkbox" name="fullcaps"> UPPERCASE <br>
		<input type="checkbox" name="extraSpaceRemover"> Extra Space Remover <br>
		<input type="checkbox" name="newLineRemover"> New Line Remover <br>
		<input type="checkbox" name="charCount"> Count of characters <br>
		<input type="checkbox" name="charCountWithoutSpace"> Count of characters (without space ) <br>
		<button type="submit" >Analyze Text</button>
	
	</form>
	
</body>
</html>